@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

html,
body{ 
    margin: 0;
    padding: 0; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/*Шапка сайта*/
.header {
    height: 99px;
    border-bottom: 1px solid #e6e6e6;
}
.headercontainer{
    height: inherit;
    display: flex;
    align-items: center;
}
.logo{
    height: inherit;
    background: url(../img/logo.png) center left no-repeat;
    display: flex;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: #222222;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    margin-left: 60px;
    letter-spacing: 0.68px;
}
.logo span{
    font-weight: 900;
    color: #f16d7f;
}
.browseSearch {
    height: 36px;
    margin-left: 37px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
}
.browse {
    width: 86px;
    height: 36px;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.35px;
}
.browse i{
    color: gray;
    margin-left: 8px;
}
.browse:hover{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
}
.browse:active i{
    color: #f16d7f;
}
.searchtop{
    width: 264px;
    padding-left: 16px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0.35px;
    background: none;
}
.searchtop:focus{
    background-color: #e6e6e6;
}
.buttopSearchTop{
    width: 36px;
    background: none;
    border: none;
    border-left: 1px solid #e6e6e6;
    height: inherit;
    color: gray;
    outline: none;
}
.buttopSearchTop:hover{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
}
.buttopSearchTop:active{
    color: #f16d7f;
}
.cart{
    margin-left: 351px;
    margin-right: 26px;
}
.myAccount{
    text-align: center;
    width: 130px;
    height: 38px;
    background-color: #f16d7f; 
    line-height: 38px;
    border-radius: 3px;
}
.myAccount i{
    margin-left: 8px;  
}
.myAccount a{
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.38px;
    text-decoration: none;
    color: white;
}
.myAccount:active{
    background: linear-gradient(180deg, rgba(201,100,115,1) 0%, rgba(241,109,127,1) 100%);
}
/*Панель навигации Сверху*/
.nav{
    width: 680px;
    margin: 0 auto;
    height: 52px;
    display: flex;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 51px;
}
.nav a:hover{
    color: dimgray;
    border-bottom: 2px solid #f16d7f;
}
.nav a:active{
    color: #f16d7f;
}
.nav_here{
    height: 148px;
    background-color: #f8f3f4;  
}
.nav_titleAndCrump{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_titleAndCrump h1{
    margin: 0;
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
}
.breadcrumb{
    font-size: 14px;
    font-weight: 300; 
}
.breadcrumb a{
    text-decoration: none;
    color: #636363;
}
.breadcrumb span{
    font-weight: 700;
    color: #f16d7f;
}
/*Большой промо блок. Превью*/
.prewiew {
    overflow: hidden;
    background-color: #e8e8e8;
    height: 613px;
}
.prewiewText {
    color: #222222;
    padding-left: 12px;
    margin-top: 224px;
    height: 91px;
    font-weight: 900;
    border-left: 10px solid #f16d7f;
    font-size: 40px;
    line-height: 63px;
    letter-spacing: 1px;
}
.prewiewText div{
    line-height: 43px;
    font-size: 60px; 
    letter-spacing: 1.5px;
}
.prewiewText span{
    color: #f16d7f;
}
.backPrewiewtop {
    overflow: hidden;
    height: inherit;
    background-image: url(../img/topHeaderBack.png);
    background-repeat: no-repeat;
    background-position: top right 40px;
    background-size: 48%;
}
/*Категории*/
.categories {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 820px;
}
.contanerCategories {
    height: inherit;
    position: relative;
}
.hotdeal {
    width: 560px;
    height: 542px;
    background-image: url(../img/offer1.jpg);
    position: absolute;
    top:0;
    left:0;
}
.luxious{
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    background: url(../img/offer2.jpg) top right;
    position: absolute;
    bottom: 0;
    left:0;
}
.offer30{
    width: 560px;
    height: 261px;
    background-image: url(../img/offer3.jpg);
    position: absolute;
    top:0;
    right:0;
}
.newArriwals{
    width: 560px;
    height: 542px;
    background-image: url(../img/offer4.jpg);
    position: absolute;
    bottom:0;
    right:0;
}
.whiteboxCattegories{
    padding: 16px 16px 16px 16px;
    position: absolute;
    top: 26px;
    background-color: #ffffff; 
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.45px;
}
.whiteboxCattegories div{
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}
.whiteboxCattegories:active{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
}
/*Блок с товарами*/
.featuredItems{
    text-align: center;
    color: #9f9f9f;
    font-size: 14px;
    letter-spacing: 0.35px;
}
.featuredItems span{
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
}
.rowItems{
    overflow: hidden;
}
.itemS {
    width: 1168px;
    margin: 0 auto;
}
.item {
    margin: 30px 15px;
    float: left;
    text-align: left;
    position: relative;
    width: 262px;
    height: 364px;
    background-color: #ffffff;  
    overflow: hidden;
}
.item a{
    text-decoration: none;
}
.item:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.prewiewITemImage {
    position: relative;
}
.prewiewITemImage img{
    width: 261px;
    height: 280px;
    object-fit: cover;
    object-position: center center;
}
.nameItem {
    margin: 19px 17px 15px;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;  
}
.price {
    color: #f16d7f;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;    
}
.hoverItem {
    text-decoration: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 280px;
    background: rgb(0,0,0, 0.5);
    display: none;
}
.hoverItem img{
    object-fit: none;
    width: 30px;
}
.AddCart{
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.AddCart:active{
    background-color: #a2a2a2;
}
.item:hover .hoverItem{
    display: flex;
}
.browseAllbutton {
    clear: both;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
}
.browseAllbutton:active{
    background: linear-gradient(180deg, rgba(201,100,115,1) 0%, rgba(241,109,127,1) 100%);
}
.browseAllbutton span{
    margin-left: 24px;
    margin-right: 9px;
    height: inherit;
    line-height: 48px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
}
/*Рекламный блок с рекламой сервиса*/

.offer30Block {
    margin-top: 113px;
    height: 529px;
    background: url(../img/offerForWomen.jpg) no-repeat;
    background-color: #222224;
}
.textOfferGirlImg {
    margin-top: 142px;
    margin-left: 39px;
    float: left;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 1.5px;
}
.textOfferGirlImg span{
    color: #f16d7f;
}
.textOfferGirlImg div{
    font-size: 32px;
    letter-spacing: 0.9px;
}

.service {
    float: right;
    width: 373px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.servicePoint {
    height: 105px;
}
.servicePoint img{
    float: left;
    width: 113px;
    height: inherit;
    object-fit: none;
    object-position: top center;
}
.servicePoint h2{
    float: left;
    margin: 0;
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.servicePoint p{
    float: left;
    margin-bottom: 0;
    width: 220px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0.35px;
}

/*Отзывы и подписка*/
.review {
    position: relative;
    margin: 100px auto 0;
    width: 1600px;
    height: 438px;
    background-image: url(../img/subscribe.jpg);
    overflow: hidden;
}
.reviewSmoke {
    position: absolute;
    height: inherit;
    width: 100%;
    background: rgb(255,255,255,0.5);
}
.reviewSpacing {
    height: inherit;
}
.spaceenddelete {
    background-color: #3e3e3e;
    height: 600px;
}
.comments {
    width: 569px;
    float: left;
    height: inherit;
    border-right: 1px solid white;
}
.subscribe_block {
    float: left;
    width: 569px;
}
.subscribeText {
    padding-top: 148px;
    text-align: center;
    color: #222224;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 24px;
}
.subscribeText span{
    font-size: 24px;
    letter-spacing: 0.6px;
}
.emailEnterSub{
    width: 386px;
    margin: 35px auto 0;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    overflow: hidden;
}
.emailEnterSub input{
    width: 252px;
    padding-left: 28px;
    height: 46px;
    border:none;
    background: none;  
    outline: none;
}
.emailEnterSub input:focus{
    background-color: white;
}
.emailEnterSub button{
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    width: 104px;
    height: inherit;
    background-color: #f16d7f;
    border: none;
    outline: none;
}
.emailEnterSub button:active{
    background: linear-gradient(180deg, rgba(201,100,115,1) 0%, rgba(241,109,127,1) 100%);    
}
.comments input{
    border: none;
    width: 100px;
    background-color: aqua;
}
.personalCommetsBlock{
    margin-top: 111px;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.personalCommetsBlock img{
    height: 83px;
    width: 83px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}
.textPersonalReview{
    margin-left: 28px;
}
.commentText{
    margin-top: 8px;
    width: 388px;
    color: #222224;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.4px;
}
.commentAutor{
    margin: 15px 0 41px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.4px;
    line-height: 14px
}
.commentAutor span{
    margin: 0;
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.paginationBlock {
    clear: both;
    width: 140px;
    margin-left: 115px;
    display: flex;
    justify-content:space-between;
}
.pagination{
    display: block;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}
.pagination:hover{
    background-color: #f5f5f5;
}
.activePagination{
    background-color: #f16d7f;
}
/*Информация по комании и сайту*/
.logo_compinfo {
    height: 51px;
    background: url(../img/logo.png) center left no-repeat;
    display: flex;
    align-items: center;
}
.brand p{
    width: 429px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}
.logo_compinfo a{
    height: auto;
    text-decoration: none;
    color: #222222;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    margin-left: 60px;
    letter-spacing: 0.68px;
}
.logo_compinfo span{
    font-weight: 900;
    color: #f16d7f;
}
.company_info {
    margin-top: 109px;
    display: flex;
    justify-content: space-between;
}
.company_info h3{
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.45px;
}
.col_link{
    flex-direction: column;
    margin: 0 40px;
}
.col_link h3{
    margin: 0 0 20px;
}
.col_link a{
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 42px; 
}
.col_link a:hover{
    color: #4d4d4d;
}
.col_link a:active{
    color: #f16d7f;
}
/*футер и соцсети*/
.footer {
    margin-top: 89px;
    height: 79px;
    background-color: #e6e6e6;
}
.footerContent {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    color: #7a7a7a;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.boxSocial {
    width: 190px;
    display: flex;
    justify-content: space-between;
    
}
.social_logo i{
    width: 32px;
    height: 32px;
    background-color: white;
    text-align: center;
    color: #b2b2b2;
    font-size: 16px;
    line-height: 32px;
}
.social_logo:hover i{
    color: #d8d8d8;
    background-color: #ededed;
}
.social_logo:active i{
    color: white;
    background-color: #f16d7f;
}

/*CART PAGE*/
.cart_list {
    margin-top: 70px;
}
.cart_namesdetail {
    height: 56px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
}
.cart_namesdetail p{
    margin: 0;
    color: #222222;
    font-size: 13px;
    font-weight: 700;;
    text-transform: uppercase;
    letter-spacing: -0.2px; 
}
.cart_namesdetail p:nth-child(1){
    margin-right: 400px;
}
.cart_namesdetail p:nth-child(2){
    margin-right: 100px;
}
.cart_namesdetail p:nth-child(3){
    margin-right: 78px;
}
.cart_namesdetail p:nth-child(4){
    margin-right: 80px;
}
.cart_namesdetail p:nth-child(5){
    margin-right: 57px;
}
.product_inCart {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 22px 0;
    border-bottom: 1px solid #eaeaea;
}
.cartproduct_discription {
    text-align: left;
    width: 480px; 
    display: flex;
    align-items: center;
}
.cartproduct_discription img{ 
    width: 100px;
    height: 115px;  
    object-fit: cover;
    object-position: center center;
}
.cartproduct_discription aside{
    margin-left: 21px;  
}
.cartproduct_discription aside a{
    text-decoration: none;
    color: #222222;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}
.cartproduct_discription aside p{
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: #575757;
}
.cartproduct_discription aside span{
    font-weight: 400;
    color: #6f6e6e;
}
.product_inCart input{
    margin-left:80px;
    margin-right: 30px;
    padding-left: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 34px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #656565;
}
.product_inCart input:focus{
    outline: none;
}
.cart_price {
    padding: 0 20px;
    width: 100px;
    color: #656565;
    font-size: 13px;
}
.cart_shipping {
    width: 120px;
    padding: 0 20px;
    color: #656565;
    font-size: 13px;
}
.cart_subtotal_product {
    width: 80px;
    padding: 0 20px;
    color: #656565;
    font-size: 13px;
}
.cart_action {
    margin-left: 30px;
    width: 50px;
    
}
.cart_action a{
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
}
.cartResetAndContinue {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
}
.cartResetAndContinue button{
    outline: none;
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 900;
}
.cartResetAndContinue button:active{
    background-color: #eaeaea;
}
.cartResetAndContinue a{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 900;
    line-height: 50px;
}
.cartResetAndContinue a:active{
   background-color: #eaeaea; 
}
.cartShippingAdressForm {
    display: flex;
    justify-content: space-between;
}
.cartShippingAdressForm input{
    margin-top: 20px;
    padding-left: 17px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;  
    color: #b1b1b1;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.cartShippingAdressForm input:focus{
    outline: none;
}
.cartShippingAdressForm button:focus{
    outline: none;
}
.cartShippingAdressForm button:active{
    background-color: #ebebeb;
}
.shippindAdress {
    width: 355px;
    display: flex;
    flex-direction: column;
}
.shippindAdress h2{
    color: #222222;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 22px;
}
.shippindAdress select{
    padding-left: 17px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #b1b1b1;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 300;
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;
    background: url(../img/arrowForSelect.png) no-repeat;
    background-position: right 8px center;
}
.shippindAdress select:focus{
    outline: none;
}
.shippindAdress button{
    width: 100px;
    height: 35px;
    margin-top: 23px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 900;
}
.cart_CouponDiscount {
    width: 355px;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}
.cart_CouponDiscount h2{
    color: #222222;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 22px;    
}
.cart_CouponDiscount button{
    width: 118px;
    height: 35px;
    margin-top: 23px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 900;
}
.cartGrandTotalSubmit {
    text-align: right;
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    color: #4a4a4a;
    font-size: 11px;
}
.cartGrandTotalSubmit div{
    width: 273px;
    margin: 40px auto 0;
}
.cartGrandTotalSubmit span{
    margin-left: 22px;
}
.cartGrandTotalSubmit p{
    color: #222222;
    font-weight: 900;
    font-size: 16px;
    margin: 0;
    padding: 14px 0;
    border-bottom: 1px solid #e2e2e2;
}
.cartGrandTotalSubmit button{
    padding: 0;
    width: inherit;
    border: none;
    outline: none;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 17px;
}
.grand_totalPrice{
    color: #f16d7f;
}
/*SINGLEPAGE*/

.single_prew {
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    height: 777px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.single_infoItem {
    width: 1141px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: -83px;
}
.single_ContainerInfo {
    width: 582px;
    margin: 0 auto;
}
.decorationline_infoItem {
    margin: 15px auto 0;
    width: 147px;
    height: 1px;
    background-color: #eaeaea;
    position: relative;
}
.decorationline_red {
    position: absolute;
    top:-1px;
    left: 42px;
    width: 63px;
    height: 3px;
    background-color: #ef5b70;   
}
.single_infoItem h2{
    margin: 53px 0 0;
    box-sizing: content-box;
    text-align: center;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;   
}  
.single_infoItem h3{
    margin: 17px auto 67px;
    text-align: center;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
}
.single_infoItem h4{
    text-align: center;
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
.single_infoItem p{
    margin: 0;
    text-align: center;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.single_infoItem button{
    width: 537px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px auto 123px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    font-size: 16px;
    font-weight: 700; 
    outline: none;
}
.single_infoItem button:active{
    background-color: #ffd1d1;
}

.single_infoItem button img{
    margin-right: 10px;
}

.single_spectfic_Item{
    margin-top: 28px;
    display: flex;
}
.spectficItem_characteristic {
    color: #b9b9b9;
    width: 50%;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.spectficItem_characteristic span{
    color: #2f2f2f;   
}
.spectficItem_characteristic:nth-child(1){
    text-align: right;
    margin-right: 44px;
}
.single_Choices_Item {
    border-top: 1px solid #eaeaea;
    margin: 43px auto 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.single_ChoiseUser{
    margin-top: 64px;
    width: 144px;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
}
.single_ChoiseUser input{
    width: 123px;
    height: 31px;
    padding-left: 15px;
    margin-top: 16px;
    color: #bcbcbc;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #eaeaea; 
}
.single_ChoiseUser select{
    width: 142px;
    height: 35px;
    padding-left: 15px;
    margin-top: 16px;
    border: 1px solid #eaeaea; 
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
    background: url(../img/arrowForSelect.png) no-repeat;
    background-position: right 8px center;
}
.single_ChoiseUser input:focus{
    outline: none;
}
.single_ChoiseUser select:focus{
    outline: none;
}
.single_you_may_like_also {
    overflow: hidden;
    width: 1170px;
    margin: 0 auto;
}
.single_you_may_like_also a{
    text-decoration: none;
    float: left;
}
.single_you_may_like_also h2{
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
}
.prewiew_like_Also{
    width: 262px;
    height: 280px;
    background-color: #efefef;
}
.prewiew_like_Also img{
    width: 261px;
    height: 280px;
    object-fit: contain;
}
.like_also_nameItem{
    color: #6f6e6e;
}
.selectColor {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: red;
}
